{{#unless adding}}
    {{#if showControls}}
        <div class="vac-controls vac-control">
            <button class="vac-button">{{I18n "controls.new"}}</button>
            {{#if showNav}}
                <div class="vac-annotation-nav">
                    <div class="vac-a-prev">{{I18n "controls.prev"}}</div>
                    <div class="vac-a-next">{{I18n "controls.next"}}</div>
                </div>
            {{/if}}
        </div>
    {{/if}}
{{/unless}}

{{#if adding}}
    <div class="vac-video-cover vac-control">
        <div class="vac-video-cover-canvas">
            <div class="vac-cursor-tool-tip vac-hidden">{{I18n "controls.dragtoselect"}}</div>
        </div>
    </div>
    {{#if showControls}}
        <div class="vac-add-controls vac-control">
            <i>{{I18n "controls.selectshaperange"}}</i>
            {{#if internalCommenting}}
                <button class="vac-button">{{I18n "controls.continue"}}</button>
                <a>cancel</a>
            {{/if}}
            <div class="vac-video-move">
                <div class="vac-a-prev">-1 sec</div>
                <div class="vac-a-next">+1 sec</div>
            </div>
        </div>
    {{/if}}

    {{#if writingComment}}
        <div class="vac-video-write-new-wrap vac-control">
            <div class="vac-video-write-new vac-is-annotation">
                <div>
                    <h5><b>{{I18n "comment.new"}}</b> @ {{rangeStr}}</h5>
                    <div class="vac-comment-showbox">
                        <textarea placeholder="{{I18n "comment.placeholder"}}"></textarea>
                        <div>
                            <button class="vac-button">{{I18n "comment.save"}}</button>
                            <a>{{I18n "comment.cancel"}}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {{/if}}
{{/if}}
